h1 {
    font-size: 42pt;
    font-weight: 700;
    color: #f4a91a;
    margin-top: 10px;
}

/*.container-lg  {*/
/*background-color: #fff;*/
/*}*/

.theicons {
    padding-top: 56px;
}

#names {
    margin: 15% auto 1% auto;
}

#names li {
    display: inline-block;
    margin: 0 3.8vw;
    font-size: 1.6em;
    border-radius: 15%;
    border: 1px solid #fff;
    padding: 0 1vw;
    color: white;
    background: #179b77;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#choices {
    margin: auto;
}

#choices li {
    display: inline-block;
    cursor: pointer;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    margin: 0 20px;
    line-height: 110px;
    transition: background 1s;
}

#choices li:hover {
    box-shadow: 1px 6px 28px -8px rgba(0, 0, 0, 0.62);
}

#choices li img {
    vertical-align: middle;
    pointer-events: none;
    width: 100%;
}

@media screen and (max-width: 800px) {
    #names {
        display: none;
    }

    #choices {
        margin-top: 30%;
    }

    #choices li {
        height: 30vw;
        width: 30vw;
        margin-left: 1vw;
        margin-right: 10vw;
        margin-bottom: 4vw;
    }

    #choices li:nth-of-type(2n) {
        margin-left: 0;
    }
}

#info {
    margin-top: 20px;
}

p {
    color: #ffffff;
    font-size: 14pt;
}

p span {
    font-size: 1.8em;
    display: block;
    font-weight: 700;
}

ul {
    list-style: none;
    font-size: 14pt;
    color: #ffffff;
}

/*#scores li {*/
/*display: inline-block;*/
/*}*/

/*#scores li ul {*/
/*margin-top: 10px;*/
/*margin-left: -40px;*/
/*}*/

/*#scores li ul li {*/
/*display: inline-block;*/
/*margin: 0 5px;*/
/*}*/

#user li, #bot li {
    display: inline-block;
    margin: 0 5px;
}

#user li span, #bot li span {
    color: rgb(255, 0, 0);
}

#user, #bot {
    padding: 0 10px;
}

/*#scores > li:first-child {*/
/*border-right: 1px solid #505050;*/
/*}*/

@media screen and (max-width: 800px) {
    #scores li {
        padding: 5%;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    #bot,
    #user {
        font-size: 2em;
    }

    p {
        font-size: 2em;
    }
}

.icon-user:before {
    content: "\e971";
    font-size: 3em;
}

.icon-android:before {
    content: "\eac0";
    font-size: 3em;
}

.icon-heart:before {
    content: "\e9da";
}

[class^="icon-"],
[class*=" icon-"] {
    color: red;
    opacity: 0.8;
}

#infoText {
    opacity: 0;

}

#infoText.fade {
    opacity: 1;
    transition: opacity 1s;
}
