h1 {
    font-size: 42pt;
    font-weight: 700;
    color: #f4a91a;
    margin-top: 10px;
}

.block {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 7px;
    background-color: crimson;
}

#game {
    border: 1px solid red;
    height: 500px;
    width: 500px;
}

.block_1 {
    width: 50px;
    height:50px;
    background-color:red;
    position:fixed;
}

/*.block1 {*/
/*  position: relative;*/
/*  top: 50px;*/
/*  left: 0;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*  background-color: #17dc09;*/
/*  animation: move 10s linear infinite;*/
/*}*/

/*.block2 {*/
/*  position: relative;*/
/*  top: 100px;*/
/*  left: 0;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*  background-color: #3b4579;*/
/*  animation: move 6s linear infinite;*/
/*}*/

/*.block3 {*/
/*  position: relative;*/
/*  top: 150px;*/
/*  left: 0;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*  background-color: #9756ee;*/
/*  animation: move 7s linear infinite;*/
/*}*/

/*.block4 {*/
/*  position: relative;*/
/*  top: 200px;*/
/*  left: 0;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*  background-color: #68acef;*/
/*  animation: move 8s linear infinite;*/
/*}*/

/*@keyframes move {*/
/*  0% {*/
/*    transform: translate(0);*/
/*  }*/
/*  50% {*/
/*    transform: translate(1100px);*/
/*  }*/

/*}*/